$colors: (
    primary-red: #f05146,
    secondary-red: #B5232F,
    
    primary-orange: #ffb24e,
    secondary-orange: #A58514,
    
    primary-green: #43c45d,
    secondary-green: #26924B,
    
    primary-violet: #6a53ff,
    secondary-violet: #272B96,
    
    primary-dark: #333,
    primary-light: #FFF,
    primary-grey: #666
);