.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem;

    .card {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        img {
            flex-grow: 1;
            object-fit: cover;
            width: 100%;
        }

        .card-content {
            background: map-get($colors, primary-dark);
            color: map-get($colors, primary-light);
            position: relative;
        }
    }
}