@import './colors';
@import './banners';
@import './general';
@import './reset';
@import './navbar';
@import './footer';
@import './items';
@import './profile';
@import './loader';

@function getColor($color) {
    @return map-get($colors, "primary-#{$color}")
}

bg-red { color: getColor('red') }
bg-green { color: getColor('green') }
bg-orange { color: getColor('orange') }
bg-violet { color: getColor('violet') }

.text-light { color: getColor('light') }
.text-dark { color: getColor('dark') }
.text-red { color: getColor('red') }
.text-orange { color: getColor('orange') }
.text-green { color: getColor('green') }
.text-violet { color: getColor('violet') }

.btn {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: map-get($colors, primary-light);
    transition: background .5s;
    border: 0;
    outline: 0;
    cursor: pointer;

    &-red { 
        background: getColor('red');
        &:hover {
            background: darken(getColor('red'), 10%);
        }
    }
    &-orange {
        background: getColor('orange');
        &:hover {
            background: darken(getColor('orange'), 10%);
        }
    }
    &-green {
        background: getColor('green');
        &:hover {
            background: darken(getColor('green'), 10%);
        }
    }
    &-violet {
        background: getColor('violet'); 
        &:hover {
            background: darken(getColor('violet'), 10%);
        }
    }

    &-dark {
        background: getColor('dark');
        &:hover {
            background: darken(getColor('dark'), 10%);
        }
    }
}

.border-bottom {
    border-bottom: 1px solid;

    &.border-m { border-width: 2px; }
    &.border-l { border-width: 3px; }
    &.border-red { border-color: getColor('red') }
    &.border-orange { border-color: getColor('orange') }
    &.border-green { border-color: getColor('green') }
    &.border-violet { border-color: getColor('violet') }
}

@media screen and (max-width: 1280px) {
    .item-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .item-grid {
        grid-template-columns: 1fr;
    }

    .flex-col-mobile {
        flex-direction: column;
    }

    .container, .content, .profile-img {
        width: 100%;
    }
}

@media screen and (max-height: 800px) {
    .vh-200 {
        height: initial;
    }
}